.buttons {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    gap: 20px;
    top: 50px;
    z-index: 10;
    background: none;
}

.button{
    position: relative;
    display: inline-block;
    padding: 15px 20px;
    margin: 10px 0;
    color: rgb(163,108,225);
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-right: 50px;
    text-align: center;
    background: none;
   
}
.button:hover{
    background: rgb(163,108,225);
    color: white;
    box-shadow: 0 0 5px rgb(163,108,225),
                0 0 25px rgb(163,108,225),
                0 0 50px rgb(163,108,225),
                0 0 200px rgb(163,108,225);
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}
.button span{
    position: absolute;
    display: block;
}
.button span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,rgb(163,108,225));
    animation: animate1 1s linear infinite;
}
@keyframes animate1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
.button span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,rgb(163,108,225));
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}
.button span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,rgb(163,108,225));
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
}
@keyframes animate3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}


.button span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,rgb(163,108,225));
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}
@media (max-width: 1081px) {
    nav {
        visibility: hidden;
    }
}



 